#404.view-child(ng-scrollbars)
  .row
    .no-padding.col.col-lg-offset-0.col-lg-4.col-md-offset-0.col-md-6.col-sm-offset-0.col-sm-6.col-xs-offset-0.col-xs-12(ng-repeat="format in vm.formats track by $index")
      | The page doesn't exist.
    .clearfix
      
      
  