#code.view-child
  .row.no-padding-top
    .text-align-center.col-lg-offset-1.col-lg-10.col-md-offset-1.col-md-10.col-sm-offset-1.col-sm-10.col-xs-offset-1.col-xs-10
      button.active(ng-click="vm.openPreviewModal();")
        | See a preview&nbsp;
        i.fa.fa-external-link
  .row.small-margin-top
    .text-align-center.col-lg-offset-1.col-lg-10.col-md-offset-1.col-md-10.col-sm-offset-1.col-sm-10.col-xs-offset-1.col-xs-10
      #previewCode.previewCode {{vm.widgetScript}}
