#products.view-child
  .row.text-align-center
    .col-lg-offset-0.col-lg-12.col-md-offset-0.col-md-12.col-sm-offset-0.col-sm-12.col-xs-offset-0.col-xs-12
      angucomplete-alt(placeholder='{{product_placeholder}}', pause='300', selected-object='content.product', remote-url='{{widgetObject.url_ws}}/products?token={{widgetObject.token}}&q=', remote-url-data-field='data', title-field='label', description-field='product', input-class='form-control form-control-small',minlength="2")
      a.back.full_width(ng-click="vm.cancelOrBack('product')")
        i.fa.fa-arrow-left.xs-padding-right
        span(ng-if="vm.isCancellable") Cancel
        span(ng-if="!vm.isCancellable") Back