#template.view-child
  .row.no-padding-bottom
    .text-align-center.col-lg-offset-0.col-lg-12.col-md-offset-0.col-md-12.col-sm-offset-0.col-sm-12.col-xs-offset-0.col-xs-12
      carousel(with-thumbnails="true",images="vm.templates")
    .clearfix
