
<div class="view-child" id="universe">
  <div class="row">
    <div class="text-align-center col-lg-offset-0 col-lg-12 col-md-offset-0 col-md-12 col-sm-offset-0 col-sm-12 col-xs-offset-0 col-xs-12">
      <angucomplete-alt placeholder="{{universe_placeholder}}" pause="300" selected-object="content.universe.lvl0" remote-url="{{widgetObject.url_ws}}/categories?token={{widgetObject.token}}&amp;q=" remote-url-data-field="data" title-field="label" description-field="Universes" input-class="form-control form-control-small" minlength="0"></angucomplete-alt>
      <angucomplete-alt ng-if="content.universe.lvl0" placeholder="{{category_placeholder}}" pause="300" selected-object="content.universe.lvl1" remote-url="{{widgetObject.url_ws}}/categories?token={{widgetObject.token}}&amp;cat_id={{content.universe.lvl0.originalObject.id}}&amp;q=" remote-url-data-field="data" title-field="label" description-field="Categories" input-class="form-control form-control-small" minlength="0"></angucomplete-alt><a class="back full_width" ng-click="vm.cancelOrBack('universe')"><i class="fa fa-arrow-left xs-padding-right"></i><span ng-if="vm.isCancellable">Cancel</span><span ng-if="!vm.isCancellable">Back</span></a>
    </div>
  </div>
</div>